<%- include("../partials/headerBlog") %>
<%- include("../partials/scroll") %>
<%- include("../partials/navbarBlog") %>


<div class="container new_blog">
    <div class="row">
        <h1 class="p_span text-center new_title">Add New Comment to:  <%= blog.title %>:  </h1>
        <div class="new_blog_group">
            <form action="/blogs/<%= blog._id %>/comments" method="POST">
                <div class="form-group">
                    <label for="">Comment</label>
                    <textarea class="form-control new_form" type="text" name="comment[text]" rows="4" placeholder=""></textarea>
                </div>
                <div class="form-group">
                    <label for="">Author</label>
                    <input class="form-control new_form" type="text" name="comment[author]" placeholder="">
                </div>
                <div class="form-group new_buttons">
                    <button class="btn btn-outline-light btn-lg card_btn new_buttons">Submit</button>
                    <a href="/blogs/<%= blog._id %>" class="btn btn-outline-light btn-lg card_btn new_buttons">Go Back</a>
                </div>
            </form> 
        </div>
    </div>
</div>

<%- include("../partials/footer") %>


